// common
* {
  box-sizing: border-box;
}

html {
  overflow: auto;
}

body {
  overflow: hidden;
  font-size: 62.5%;
  font-family: YakuHanJPsLight, proxima-nova, a-otf-midashi-go-mb31-pr6n, -apple-system, system-ui, "Avenir Next", Avenir, "Yu Gothic Medium", "游ゴシック Medium", YuGothic, 游ゴシック体, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, sans-serif;
}

.hide-sp {
  display: none;
}


// groval nav
.menu-nav {
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  transform-origin: right top;
  transition: all 300ms ease;
}

.menu-nav-close {
  text-align: right;
  margin-top: 15px;
  margin-right: 20px;
  margin-bottom: 50px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
}

.menu-nav-close:hover {
  text-decoration: underline;
}

.hide-nav {
  transform: scale(0, 0);
}

.menu-nav-list {
  text-align: left;
  width: 230px;
  margin: 0 auto;
}

.menu-nav-link {
  font-size: 2.4rem;
  font-weight: bold;
  letter-spacing: 0.3rem;
}

.menu-nav-link:hover {
  text-decoration: underline;
}

.menu-nav-link-jp {
  font-size: 1rem;
  font-weight: lighter;
  color: #888;
  margin-top: 8px;
  margin-bottom: 30px;
  letter-spacing: 0.1rem;
}


// header
.header {
  position: fixed;
  top: 0px;
  z-index: 5;
}

.header-wrap {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 5px 0 16px;
}

.header-logo-link {
  display: block;
  width: 52px;
  margin-right: 40px;
}

// alternative logo
.alter-h-logo {
  font-size: 1.5rem;
  font-family: sans-serif;
  font-style: italic;
  font-weight: bold;
}

.header-gnav {
  display: flex;
  justify-content: flex-end;
}

.header-sp-menus {
  display: flex;
  justify-content: flex-end;
  margin-right: 16px;
}

.header-alert {
  position: relative;
  cursor: pointer;
}

.header-alert-icon {
  font-size: 0.9rem;
}

.header-alert-dot {
  position: absolute;
  top: -8px;
  left: 6px;
  font-size: 0.9rem;
  color: red;
}

.header-nav-menu {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.05rem;
  margin-left: 30px;
  transition: 200ms;
}

.header-nav-menu:hover {
  text-decoration: underline;
}



// mainvisual
// alternative mainvisual
.mainvisual-img {
  width: 100%;
  height: 95vw;
  background: #ABCDEF;
  position: relative;
}

.mainvisual-img::before,
.mainvisual-img::after {
  position: absolute;
  top: 0;
  height: 1000px;
  content: "";
  border: 0.5px dashed #ED462F;
  transform-origin: top;
}

.mainvisual-img::before {
  left: 0;
  transform: rotate(-46.5deg);
}

.mainvisual-img::after {
  right: 0;
  transform: rotate(46.5deg);
}



// .mainvisual-img {
//   width: 100%;
//   height: 0;
//   background: url(../img/mainvisual-sp.png) center center / cover no-repeat;
//   padding-top: calc(735 / 776 * 100%);
// }


// message
.message-wrap {
  padding: 45px 16px 100px 16px;
}

.message-top {
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 0.25rem;
  margin-bottom: 18px;
}

.message {
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  line-height: 2rem;
  padding-left: 1px;
}

.mb-ms {
  margin-bottom: 26px;
}

.message-sub {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

.message-logo {
  width: 60px;
}

// alternative logo
.alter-m-logo {
  font-size: 1.5rem;
  font-family: sans-serif;
  font-style: italic;
  font-weight: bold;
}


// recruit
.recruit-wrap {
  padding: 0px 16px 20px 16px;
}

.recruit-head-sub {
  width: 180px;
}

.recruit-head {
  font-size: 3.4rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  margin: 30px 0 15px 0;
}

.mb-rc {
  margin-bottom: 14px;
}

.message-facebook {
  letter-spacing: 0.02rem;
}

.messanger-img-wrap {
  position: relative;
  height: 60px;
  margin-bottom: 20px;
  z-index: 1;
}

.messanger-induction {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 220px;
  z-index: 1;
}

.messanger-img {
  position: absolute;
  top: 50%;
  transform: translate(210px, -50%);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #ABCDEF;
  transition: all 200ms 0 ease;
}

.messanger-img:hover {
  filter: brightness(90%);
}


.messanger-arrow {
  position: absolute;
  top: 50%;
  transform: translate(265px, 0);
  width: 25px;
}

.contact-btn {
  display: block;
  height: 58px;
  border: 4px solid black;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  line-height: 52px;
  padding-left: 20px;
  margin-bottom: 40px;
  transition: 200ms;
}

.contact-btn:hover {
  background: #000;
  color: #fff;
}

.contact-btn-text {
  font-weight: bold;
  margin-left: 3px;
}


// footer
.footer-wrap {
  padding-left: 16px;
  width: 100vw;
}

.f-gnav-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.08rem;
  line-height: 2rem;
}

.f-gnav-item {
  margin-right: 14px;
  transition: 200ms;
}

.gnav-link {
  position: relative;
  z-index: 1;
}

.f-nav-ul:hover {
  text-decoration: underline;
}

.fa-external-link-alt {
  position: absolute;
  top: 0px;
  right: -15px;
  font-size: 0.7rem;
  color: #555;
}

.copyright {
  margin: 30px 0 50px 0;
  font-size: 0.8rem;
  font-weight: bold;
  color: #555;
}

.caution {
  position: fixed;
  bottom: 0px;
  left: 0;
  width: 100vw;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 0.5rem;
  font-weight: bold;
  background: #ccc;
}

.caution a {
  text-decoration: underline;
}


// media query
@import "screen480.scss";
@import "screen540.scss";
@import "screen770.scss";
@import "screen1025.scss";
